/* Resets */
body, p {
    margin: unset;
}

h1, h2 {
    font-size: unset;
    margin: unset;
    font-weight: unset;
}
ul ,li {
    list-style-type:none;
    padding: unset;
    margin: unset;
}

a {
    color: unset;
    text-decoration: unset;
}

strong {
    font-weight: unset;
}

img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

/* color */
:root {
    --primary-color-1:#6230A2;
    --primary-color-1-1:#C89DFF;
    --primary-color-1-2:#FF4500;
    --primary-color-1-3:#FFF5ED;
    --primary-color-1-4:#EBDBFF;
    
    --color-gray-10:#fff;
    --color-gray-20:#eee;
    --color-gray-30:#999;
    --color-gray-40:#333;
    --color-gray-50:#111;
}

/* Typography */
:root {
font-family: 'Montserrat', sans-serif;
}
/* 컬러 영역 폰트 영역 나눠서 만들어주는게 좋음 */


/* Components */
.l_wrapper {
    width:auto;
    max-width: 1080px;
    margin: 0 auto;
}

/* @@@ top area @@@ */

.top_page {
    /* height: 100%; = 굳이 안넣어도 되는 속성 */
    padding: 30px 30px 100px 30px;
    background-color: var(--primary-color-1);
}

.t-header {
    padding: 92px 0;
    display: flex;
    align-items: center;
}
/* b-header와 동일한 속성들. 합쳐서 코드 줄여보기 */


.t-header-tit {
    color: var(--color-gray-10);
    font-size: 40px;
    font-weight: 500;
    line-height: 44px; /* line-height는 숫자로만 입력하는게 좋음 px제외*/
    width: 260px;
}
.t-header-tit .t-point-txt {
    font-weight: 700;
    position: relative;
    z-index: 1;
}
.t-header-tit .t-point-txt::after {
    content: "";
    background-color: var(--primary-color-1-2);
    /* display: inline-block; = position absolute가 들어간경우 인라인 요소가 블럭으로 되어버리기때문에 굳이 바꿔주지않아도 됨. */
    width: 100%;
    height: 26px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.header-subtxt {
    color: var(--primary-color-1-1);
    font-size: 14px;
    max-width: 600px;
    line-height: 18px;
    display: flex;
    align-items: center;
}
.header-subtxt::before {
    content: "";
    flex-shrink: 0;/* flex박스에서 shrink를 주지않으면 사용가능한 영역을 뺏겨버리기 때문에 shrink 넣어주기*/
    width: 90px;
    height: 1px;
    margin: 0 32px 0 22px;
    background-color: var(--primary-color-1-1);
}

.main-list {
    display: flex;    
    margin-top: 30px;
}
.main-list:first-child {
    margin-top: 0;
}
.main-list:nth-child(even) {
    flex-direction: row-reverse;
}

.cover-contents {
    width: 280px;
    flex-shrink: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* 글씨가 늘어났을때 ...으로 표시하고 싶으면 white-space:nowrap 꼭 써주기*/
    white-space: nowrap;
}

.cover-img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
    /* absolute 썻을 경우 위치값 꼭 적어주기. */
}

.cover-header-txt {
    color: var(--color-gray-10);
    font-size: 32px;
    font-weight: 500;
    z-index: 3;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cover-header-txt::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: rgba(98, 48, 162, 0.50);
}

.list-contents {
    flex-grow: 1;
    min-width: 0; /*텍스트가 띄어쓰기 없이 길어질때 부모의 크기가 자식의 크기를 감당하지못하고 넘어가므로 제한 걸어주기.*/
    padding: 20px;
    background-color: var(--color-gray-10);
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
}

.list-sub-header {
    color: var(--primary-color-1);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.list-txt {
    color: var(--color-gray-50);
    font-size: 14px;
    font-weight: 300;
    line-height:2;
    /* 라인하이트는 em 보다 그냥 숫자만 넣는게 좋음 */
}
.list-txt::before {
    content: "";
    background-color: var(--primary-color-1-1);
    display: inline-block;
    width:10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 14px;
}

/* @@@ bottom area @@@ */

.bottom_page {
    padding: 30px 30px 100px 30px ;
    background-color: var(--primary-color-1-3);
}

.b-header {
    padding: 92px 0;
    display: flex;
    align-items: center;
}
.b-header-tit {
    color: var(--primary-color-1-2);
    width: 340px;
    margin-right:auto ;
    font-size: 40px;
    font-weight: 500;
}

.b-point-txt {
    position: relative;
    font-weight: 700;
    z-index: 1;
}
.b-header-tit .b-point-txt::after {
    content: "";
    background-color: var(--color-gray-10);
    display: inline-block;
    width: 100%;
    height: 26px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.b-header-button {
    color: var(--color-gray-10);
    font-size: 16px;
    font-weight: 700;
    line-height: 44px; /*버튼의 높이가 지정되어있을경우는 line-height 를 px 단위로 고정시켜주는건 괜찮음*/
    background-color: var(--primary-color-1-2);
    padding: 0 14px;
    border-radius: 4px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.10);
}
.b-header-button::before {
    content: "+";
    margin-right:5px; 
}

.card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card-contents {
    display: flex;
    flex-direction: column;
    width: 340px;   
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.10);
}

.card-header {
    position: relative;
}

.card-cover {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    /* contain을 넣었을경우 aspect-ratio로 비율을 유지해줘도 사진이 비율보다 작은 사이즈가 들어왔을경우 전체 너비 상관없이 크기 만큼 들어오기 때문에 
    비율을 유지해주고싶을때 cover로 넣어주는게 좋음 */
}

.badge {
    position: absolute;
    left: -10px;
    top: -10px;
}

.card-info {
    background-color: var(--color-gray-10);
    padding:20px;
    border-top: 4px solid var(--color-gray-50);
}

.tag {
    color: var(--primary-color-1);
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding: 2px 12px;
    border-radius: 12px;
    background-color: var(--primary-color-1-4);
    margin-bottom: 3px;
}

.card-tit {
    color: var(--color-gray-50);
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0;
    min-height: 60px;
}

.card-disciption {
    color: var(--color-gray-40);
    display: -webkit-box;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5em;
    min-height: 110px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.card-footer {
    background-color: var(--color-gray-10);
    padding: 20px;
    display: flex;
    position: relative;
}
.card-footer::before {
    content: "";
    width: 94%;
    height: 4px;
    background-color: var(--color-gray-20);
    position: absolute;
    right: 0;
    top: 0;
}

.card-veiw {
    color: var(--color-gray-30);
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    margin-right: auto;
}

.member-list {
    width:110px;
    height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: right;
}

.member {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #FFF;
    margin-left: -6px;
    box-sizing: border-box;
}

@media (max-width:980px) {
    /* @@@ top @@@ */
    .t-header {
        flex-direction: column;
        text-align: center;
    }
    .header-subtxt {
        flex-direction: column;
    }
    .header-subtxt::before {
        margin: 30px 0;
    }
    .cover-contents {
        width: 100%;
        min-height:200px ;
    }
    .main-list {
        display: block;
        margin: 30px;
    }

    /* @@@ bottom @@@ */
   
    .b-header {
        display: block;
        text-align: center;
    }
    .b-header-tit {
        margin-left: auto;
    }
    .b-header-button {
        display: inline-block;
        margin-top: 20px;
        padding:12px;
        line-height: 16px;
    }
    .card {
        align-items: center;
        justify-content: center;
    }
}