/* Resets */
body,
p,
ul {
  margin: unset;
  padding: unset;
}

li {
  list-style-type: none;
}

h1,
h2,
h3 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}

hr,
button {
  all: unset;
}

fieldset,
legend {
  all: unset;
  display: block;
  inline-size: 100%;
}

input[type="text"],
select {
  all: unset;
  display: block;
  inline-size: 100%;
  height: 48px;
  line-height: 48px;
  padding: 0 12px;
  box-sizing: border-box;
}

textarea {
  all: unset;
  display: block;
  line-height: 1.6;
  padding: 12px;
  inline-size: 100%;
  box-sizing: border-box;
}

img {
  vertical-align: top;
  max-width: 100%;
}
/* Typography */
:root {
  font-family: "Noto Sans KR", sans-serif;
}

/* CSS Variables */
:root {
  --color-gray-10: #eee;
  --color-gray-20: #ddd;
  --color-gray-40: #999;

  --color-primary-10: #e2f4ea;
  --color-primary-40: #70c994;
  --color-primary-80: #107b0e;

  --color-white: #fff;
}

/* Layouts */
.l_row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 18px;
}

.l_row_thin {
  gap: 4px;
}

.l_col_12_12 {
  grid-column: auto / span 12;
}
.l_col_11_12 {
  grid-column: auto / span 11;
}
.l_col_10_12 {
  grid-column: auto / span 10;
}
.l_col_9_12 {
  grid-column: auto / span 9;
}
.l_col_8_12 {
  grid-column: auto / span 8;
}
.l_col_7_12 {
  grid-column: auto / span 7;
}
.l_col_6_12 {
  grid-column: auto / span 6;
}
.l_col_5_12 {
  grid-column: auto / span 5;
}
.l_col_4_12 {
  grid-column: auto / span 4;
}
.l_col_3_12 {
  grid-column: auto / span 3;
}
.l_col_2_12 {
  grid-column: auto / span 2;
}
.l_col_1_12 {
  grid-column: auto / span 1;
}

/* Commons */
/* 스크롤바 커스텀 시작 */
::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

/* 스크롤바 핸들 */
::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-40);
  border-radius: 12px;
  box-shadow: inset 0 0 0 4px var(--color-white);
}

/* 스크롤바 배경 */
::-webkit-scrollbar-track {
  background-color: var(--color-primary-10);
  border: 6px solid var(--color-white);
  border-radius: 12px;
}

.button {
  background-color: var(--color-primary-40);
  color: var(--color-white);
  display: inline-block;
  height: 48px;
  padding: 0 14px;
}

.button.type_large {
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  height: 64px;
}

.ir {
  /* ir기법 검색해보기	 */
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* Components */
body {
  background-color: var(--color-primary-40);
}

.root {
  height: 100vh;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
}

.root-header {
  width: 154px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.root-button {
  background-color: var(--color-primary-10);
  aspect-ratio: 1/1;
  flex-shrink: 0;
  border-radius: 28px 0 0 28px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  font-weight: 700;
  color: var(--color-primary-40);
}

.root-button.is_active::before,
.root-button.is_active::after {
  content: " ";
  position: absolute;
  right: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  /*
	background-image: url(images/corner.svg);
	*/
  /*
	박스 쉐도우 공부를 위해 남겨놓음
	box-shadow: 0 0 20px 20px red;
	*/
  box-shadow: 28px 28px 0 0 var(--color-white);
  background-size: contain;
}

.root-button.is_active::before {
  top: 0;
  transform: translateY(-100%);
}

.root-button.is_active::after {
  bottom: 0;
  transform: translateY(100%) rotateX(180deg);
}

.root-button.is_active {
  background-color: var(--color-white);
  z-index: 10;
  color: var(--color-primary-80);
}

.root-button.is_active strong {
  color: #333;
}

.root-icon {
  width: 64px;
  height: 64px;
  transform: scale(0.8);
  transition: transform 0.4s;
}

.root-button.is_active .root-icon {
  transform: scale(1);
}

.root-main {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  background-color: var(--color-white);
  border-radius: 28px;
  padding: 20px;
  position: relative;
  z-index: 10;
}

.page {
  height: 100%;
  display: flex;
}

.page-main {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
}

.page-aside {
  width: 480px;
  flex-shrink: 0;
}

.page-handler {
  width: 4px;
  background-color: var(--color-gray-20);
  margin: 10px 10px;
  cursor: grab;
}

.paper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.paper-header {
  display: flex;
  gap: 12px;
  min-height: 60px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--color-gray-40);
}

.paper-title {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0 12px;
  margin: auto 0;
}

.paper-title h1 {
  font-size: 28px;
  font-weight: 700;
}

.paper-title p {
  color: var(--color-gray-40);
}

.paper-action {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.paper-main {
  flex-grow: 1;
  overflow: auto;
  padding-right: 10px;
}

.paper-board-header {
  height: 60px;
  display: flex;
  gap: 12px;
  align-items: end;
  margin-bottom: 18px;

  background-color: var(--color-white);
  /*
		뒷 배경이 비쳐보이게	
		backdrop-filter: blur(20px);
	*/

  position: sticky;
  top: 0;
  left: 0;
}

.paper-board-header h2 {
  font-size: 24px;
}

.paper-board-header p {
  font-size: 16px;
  display: flex;
  align-items: center;
  color: var(--color-gray-40);
  gap: 12px;
}

.paper-board-header p::before {
  content: " ";
  width: 30px;
  height: 1px;
  opacity: 0.5;
  background-color: currentColor;
}

.action {
  display: block;
  width: 48px;
  height: 48px;
  overflow: hidden;
}

.action::before {
  content: " ";
  display: block;
  width: 48px;
  height: 48px;
}

.action.type_filtering::before {
  background-image: url(images/icon-filtering.svg);
}

/* 임시 코드 */
.card {
  background-color: var(--color-white);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-cover-src {
  width: 100%;
  aspect-ratio: 350 / 240;
}

.card-contents {
  background-image: url(./images/arrow.svg);
  background-position: right 2px top;
  background-repeat: no-repeat;
}

.card-contents h3 {
  color: #333;
  font-size: 20px;
  font-weight: 700;
}

.card-contents p {
  color: #999;
  font-size: 14px;
  font-weight: 500;
  margin-top: 16px;
}

.panel {
  height: 100%; /*직계 부모가 주는 영역을 다 받아오겠다 */
  overflow: auto;
}

.slider-main {
  aspect-ratio: 1032/680;

  overflow: hidden;

  position: relative;
}

.slider-contents {
  display: flex;
  transform: translateX(0%);
}

.slider-button {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-color: #107b0e;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  overflow: hidden;
  margin: auto -40px;
}

.slider-button.type_prev {
  left: 0;
}

.slider-button.type_next {
  right: 0;
}

.slider-main:hover .slider-button {
  margin: auto 0;
}

.slider-item {
  width: 100%;
  flex-shrink: 0;
}

.slider-pager {
  display: flex;
  justify-content: center;
  padding: 12px 0;
}

.slider-pager-item {
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-pager-item::before {
  content: " ";
  width: 12px;
  height: 12px;
  background-color: #999;
  border-radius: 50%;
}

.slider-pager-item.is_active::before {
  background-color: var(--color-primary-80);
}
/* 
.form {
	box-shadow: inset 0 0 10px rebeccapurple;
} */

.form-field {
  margin-bottom: 24px;
}

.form-field-label {
  font-size: 14px;
  display: block;
  margin-bottom: 12px;
  color: #333;
}

.form-footer {
  position: sticky;
  left: 0;
  bottom: 0;
  box-shadow: 0 -2px 5px rgb(0 0 0 / 0.4);
  background-color: var(--color-white);
  padding-top: 20px;
}

.input {
  border: 2px solid #ddd;
  border-radius: 6px;
}

.input:focus-within {
  border-color: var(--color-primary-40);
}

.radio-card {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 12px;
  border: 2px solid #eee;
  border-radius: 6px;
}

.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
  /* visibility: hidden; 설정시 focus 안먹음 */
}

.radio input:focus + .radio-card {
  border-color: var(--color-primary-40);
}

.radio input[disabled] + .radio-card {
  background-color: #eee;
}
.radio input[disabled] + .radio-card::before {
  background-color: #eee;
  color: var(--color-white);
  /* cursor: not-allowed;  마우스 포커스 안됨. */
}

.radio-card::before {
  content: " ";
  width: 14px;
  height: 14px;
  border: 4px solid #ddd;
  border-radius: 50%;
}

.radio input[type="radio"]:checked + .radio-card::before {
  background-color: var(--color-primary-80);
  box-shadow: inset 0 0 0 3px var(--color-white);
}
