/* Typography */
:root {
	font-family: 'Noto Sans KR', sans-serif;
}

body {
	margin: unset;
}

ul,li {
	margin: unset;
	padding: unset;
	list-style-type: none;
}

h1,h2,p {
	margin: unset;
	padding: unset;
}

img {
	vertical-align: top;
	max-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

button,hr {
	all: unset;
}

.wrapper {
	background-color: #70C994;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	box-sizing: border-box;
}

.app-menu {
	display: flex;
	flex-shrink: 0;/* 영역을 빼앗기지 않기위해 작성해주기 */
	flex-direction: column;
	row-gap: 10px;
}

.app-menu-list {
	width: 154px;
	height: 154px;
	flex-shrink: 0;
	border-radius: 30px 0 0 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	color: #333;
	font-weight: 700;
	position: relative;
}

.app-menu-list.round::before, 
.app-menu-list.round::after {
	content: " ";
	width: 30px;
	height: 30px;
	background-color: #70C994;
	position: absolute;
} 

.app-menu-list.round::before{
	right: -13px;
	top: -30px;
	border-radius: 0 0 100% 0 ;
	border-bottom: 13px solid #fff;
	border-right: 13px solid #fff;
}
.app-menu-list.round::after{
	right: -13px;
	bottom: -30px;
	border-radius:0 100%  0 0 ;
	border-top: 13px solid #fff;
	border-right: 13px solid #fff;
}

.app-menu-list.type_op {
	color: #70C994;
	background-color:rgba(255, 255, 255, .7);
}

.app-menu-list:hover {
	background-color: #fff;
	color: #333;
}
.app-menu-list:hover .menu-list-icon {
	fill: #107B0E;
}

.app-contents {
	background-color: #fff;
	flex-grow: 1;
	flex-basis: 0;
	min-width: 0;
	 /* 자식의 컨텐츠때문에 영향을 받지않기 위해, 틀 유지를 위해 꼭 같이 적어줘야함*/
	height: 100%;
	border-radius: 48px;

	display: flex;
	padding: 20px;
	box-sizing: border-box;
}

.line {
	display: block;
	width: 3px;
	background-color: #eee;
}

.paper {
	box-shadow: inset 0 0 10px violet;
	flex-grow: 1;
	flex-basis: 0;
	min-width: 0;
	padding: 20px;

	display: flex;
	flex-direction: column;
}

.paper-header {
	display: flex;
	align-items: center;
	min-height: 60px;
}

.paper-tit {
	display: flex;
	align-items: baseline;
	gap: 10px;
}

.paper-tit h1 {
	font-size: 28px;
	color: #333
}

.paper-tit p {
	color: #999;
	font-weight: 400;
}

.paper-aside {
	margin-left: auto;
}

.paper-main {
	box-shadow: inset 0 0 10px cadetblue;
	flex-grow: 1;
	flex-basis: 0;
	min-width: 0;
}

.paper-board {
	display: flex;
	flex-direction: column;
}

.paper-board-header {
	display: flex;
	align-items: center;
}

.paper-board-header h2 {
	color: #000;
	font-size: 24px;
	font-weight: 700;
}

.paper-board-main {
	box-shadow: inset 0 0 10px saddlebrown;
}

.aside {
	box-shadow: inset 0 0 10px rebeccapurple;
	width: 480px;
	flex-shrink: 0;
}