/* Resets */
body, ol {
    margin: unset;
    padding: unset;
}

li {
    list-style-type: none;
}

h1 {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}

/* Layouts */
.l_wrapper {
    width: 960px;
    margin: 0 auto;
}

/* Components */
body {
    background-color: #00384C;
    color: white;
}

.header {
    background-image: url(images/cover.png);
    background-size: 100% auto;
    background-position: bottom;
    color: white;
    display: flex;
    padding-top: 40%;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    z-index: 1;
}

.header::before {
    content: ' ';
    background-color: black;
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    inset: 0;
    z-index: -1;
}

.header::after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    background-image: linear-gradient(to bottom,  rgba(0, 0, 0, 0) 0%,rgb(0, 56, 76) 100%);
    z-index: -1;
}

.header-title {
    font-size: 120px;
    text-align: center;
    line-height: 0.9;
    font-family: 'Whisper', cursive;
    font-weight: 700;
}

.header-title span.type_sub {
    display: block;
    font-size: 0.24em;
    font-family: 'Whisper', cursive;
    opacity: 0.9;
}

.contents {
    padding: 100px 0;
}

.history {
    margin: 0 -20px;
    position: relative;
}

.history::before {
    content: ' ';
    background-color: dodgerblue;
    position: absolute;
    inset: 0;
    width: 10px;
    margin: 0 auto -100px;
}

.history-item {
    width: 50%;
    padding: 0 20px;
    box-sizing: border-box;
}

.history-item:not(:first-child) {
    margin-top: -100px;
}

.history-item:nth-child(even) {
    margin-left: auto;
}

.year {
    padding: 40px;
    min-height: 300px;
    background-color: #070e10;
}