/* Resets */
body, p, ul {
    margin: unset;
    padding: unset;
}

li {
    list-style-type: none;
}

h1, h2 {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}

img {
    vertical-align: top;
}

a {
    color: unset;
    text-decoration: unset;
}
/* Typography */
:root {
    font-family: 'Montserrat';
}

/* Layouts */
.l_col_desktop_12_12 { width: 100%; }
.l_col_desktop_11_12 { width: 91.66666667%; }
.l_col_desktop_10_12 { width: 83.33333333%; }
.l_col_desktop_9_12  { width: 75%; }
.l_col_desktop_8_12  { width: 66.66666667%; }
.l_col_desktop_7_12  { width: 58.33333333%; }
.l_col_desktop_6_12  { width: 50%; }
.l_col_desktop_5_12  { width: 41.66666667%; }
.l_col_desktop_4_12  { width: 33.33333333%; }
.l_col_desktop_3_12  { width: 25%; }
.l_col_desktop_2_12  { width: 16.66666667%; }
.l_col_desktop_1_12  { width: 8.33333333%; }

/* Components */
body {
    background-color: #FFF5ED;
}

.l_wrapper {
    width: 1080px;
    margin: 0 auto;
}
.header {
    padding: 30px;
}
.header-text {
    display: flex;
    align-items: center;
    padding:92px 0 100px 0;
    color: #F98173;
}
.header-title {
    margin-right:auto ;
    font-size: 40px;
    font-weight: 500;
}
.header-title-bold {
    font-weight: 700;
    position: relative;
    left: 0;
    bottom: 0;
}
.header-title-bold::after {
    content: "";
    width: 296px;
    height: 26px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: #FFF;
}
.header-button {
    border-radius: 4px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.10);
    background: #FF4500;
    color: #FFF;
    font-weight: 700;
    line-height: 44px;
    padding: 0 14px;
}
.header-button::before {
    content: "+";
    margin-right:5px; 
}
.contents {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}
.l_row {
    display: flex;
    flex-wrap: wrap;
    margin:0 -15px;
}
.l_col{
    min-width: 340px;
    box-sizing: border-box;
    padding:0 15px;
    margin-bottom: 20px;
}
.card-header{
    position: relative;
    left: 0;
    top: 0;
    border-bottom: 4px solid black;
}
.card-header .badge {
    position: absolute;
    left: -9px;
    top: -9px;
}
.card-cover {
    width: 100%;
}
.card-discription {
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}
.tag .tag-content {
    border-radius: 12px;
    background-color: #ebdbff;
    padding: 2px 12px;
    color: #6230A2;
    font-weight: 700;
    font-size: 14px;
}
.card-title {
    color: #111;
    font-size: 24px;
    margin: 20px 0;
    font-weight: 700;
    min-height: 58px;
    text-overflow: ellipsis;
}
.card-text {
    color: #333;
    font-size: 14px;
    line-height: 24px;
    min-height: 150px;
    max-height: 150px;
    text-overflow: ellipsis; 
}
.card-footer {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #999;
    padding: 20px;    
    box-sizing: border-box;
    position: relative;
    min-height: 60px;
}
.card-footer::before {
    content: " ";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 96%;
    height: 4px;
    background-color: #eee;
}

.card-footer p{
    font-size: 14px;
    font-weight: 300;
    margin-right: auto;
    line-height: 30px;
}

.card-footer-img .profile {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid #FFF;
    margin-left: -14px;
    box-sizing: border-box;
}

@media ( max-width: 1000px ) {
    .l_col_tablet_12_12 { width: 100%; }
    .l_col_tablet_11_12 { width: 91.66666667%; }
    .l_col_tablet_10_12 { width: 83.33333333%; }
    .l_col_tablet_9_12  { width: 75%; }
    .l_col_tablet_8_12  { width: 66.66666667%; }
    .l_col_tablet_7_12  { width: 58.33333333%; }
    .l_col_tablet_6_12  { width: 50%; }
    .l_col_tablet_5_12  { width: 41.66666667%; }
    .l_col_tablet_4_12  { width: 33.33333333%; }
    .l_col_tablet_3_12  { width: 25%; }
    .l_col_tablet_2_12  { width: 16.66666667%; }
    .l_col_tablet_1_12  { width: 8.33333333%; }
 
    .header-text {
        display: block;
        margin-left:auto;
    }
    .header-title-bold {
        margin-bottom: 20px;
    }
    .header-button {
        padding:10px 14px;
    }

}

@media ( max-width: 700px ) {
    .l_col_mobile_12_12 { width: 100%; }
    .l_col_mobile_11_12 { width: 91.66666667%; }
    .l_col_mobile_10_12 { width: 83.33333333%; }
    .l_col_mobile_9_12  { width: 75%; }
    .l_col_mobile_8_12  { width: 66.66666667%; }
    .l_col_mobile_7_12  { width: 58.33333333%; }
    .l_col_mobile_6_12  { width: 50%; }
    .l_col_mobile_5_12  { width: 41.66666667%; }
    .l_col_mobile_4_12  { width: 33.33333333%; }
    .l_col_mobile_3_12  { width: 25%; }
    .l_col_mobile_2_12  { width: 16.66666667%; }
    .l_col_mobile_1_12  { width: 8.33333333%; }
} 